body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.3;
}
.pt-35p {
  padding-top: 35vh;
}
body a:hover {
  text-decoration: none;
}
.z-2000 {
  z-index: 2000;
}
.full-width {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
.maxer {
  max-width: 1250px;
}
.maxer-1000 {
  max-width: 1000px;
}
.maxer-625 {
  max-width: 625px;
}
.maxer-700 {
  max-width: 700px;
}
.maxer-880 {
  max-width: 880px;
}
.maxer-800 {
  max-width: 800px;
}
.maxer-500 {
  max-width: 500px;
}
.maxer-540 {
  max-width: 540px;
}
.maxer-form {
  max-width: 300px;
}
p {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.4px;
}
.bold {
  font-weight: 600;
}
.p2 {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 32px;
  color: #00134d;
  font-family: "Open Sans";
}
.p-128 {
  padding-top: 128px;
  padding-bottom: 128px;
}
.pb-128 {
  padding-bottom: 128px;
}
.pt-128 {
  padding-top: 128px;
}
.pb-64 {
  padding-bottom: 64px;
}
h1,
h2,
h3,
h5,
h6,
.h1,
.h2,
.h3,
.h5,
.h6 {
  font-family: "IBM Plex Serif", /* 'Fira Sans' */ serif;
}
h1 {
  font-size: 6em !important;
  font-weight: 200 !important;
  letter-spacing: -0.4;
  font-size: 96px;
}
h2 {
  font-size: 4.75em !important;
  font-weight: 300;
  letter-spacing: -0.2;
  font-size: 76px;
}
h3 {
  font-size: 3.75em !important;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 0;
}
h4,
.h4 {
  font-size: 2.25em !important;
  line-height: 52px;
  font-size: 36px;
  font-weight: 300;
  font-family: "Open Sans";
  letter-spacing: 0.3;
}
h5 {
  font-size: 28px;
  line-height: 1.429em;
  letter-spacing: 0;
  font-weight: 600;
}
.body-2 {
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 0.4;
}
.col {
  max-width: 100vw;
}
.footer {
  color: white;
  font-size: 13px;
}
.footer a {
  text-decoration: underline;
}
.bottom-0 {
  bottom: 0;
}
header {
  min-height: 100vh;
}
header .contents {
  min-height: calc(100vh - 72px);
  display: grid;
  align-content: center center;
  place-content: center;
  vertical-align: middle;
  padding-top: auto;
  padding-bottom: auto;
}
header .under {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.44;
  letter-spacing: 0.3px;
  color: #ffffff;
}
.text-main-header {
  letter-spacing: -2;
  line-height: 96px;
}
.text-main-header b {
  font-weight: 300;
}
.description h1 {
  max-width: 580px;
  font-size: 60px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #00134d;
}
.description .line {
  position: relative;
  width: 1.5px;
  height: 100%;
  top: 0;
  bottom: 0;
}
.screen-width {
  position: fixed;
  color: rgb(128, 128, 128);
}
.benefit-h1 {
  font-weight: 200;
  line-height: 1.21;
  letter-spacing: -0.4px;
  color: #00134d;
  font-size: 96px !important;
}
.img-front {
  max-width: 600px;
}
.pics-resp {
  height: 880px;
}
.bottomed {
  bottom: 0;
}
.main-h1 {
  font-size: 45px;
  font-weight: 300;
  line-height: 1.17;
  letter-spacing: -0.4px;
  color: #ffffff;
}
.text-muted-resp {
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.4px;
  color: rgba(255, 255, 255, 0.6);
}
.text-green {
  color: #00ad57;
}
.text-red {
  color: red;
}
.bg-black {
  background-color: #141414;
}
.bg-purple {
  background-color: #00134d;
}
.bg-pink {
  background-color: #4a154b;
}
.bg-green {
  background-color: #00ad57;
}
.bg-green-transparent {
  background-color: rgba(0, 173, 86, 0.075);
}
.bg-pink {
  color: #44004d;
}
.btb-green {
  border-top: #00ad57 1px solid;
  border-bottom: #00ad57 1px solid;
}
.bt-green {
  border-top: #00ad57 1px solid;
}
.bt-blue {
  border-top: #00134d 1px solid;
}
.text-purple {
  color: #00134d;
}
.text-purple-bold {
  color: #00134d;
  font-weight: bold;
}
.text-oer {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 4.5px;
  color: #ffffff;
}
.text-ecosystem {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 6px;
  text-align: center;
  color: #00134d;
}
.ecosystem p {
  color: rgba(0, 19, 77, 0.5);
}
.ecosystem h2 {
  font-size: 60px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.2px;
  text-align: center;
  color: #00134d;
}
.ecosystem img {
  max-width: 500px;
}
.ecosystem .more-title {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 0.3px;
  color: #00134d;
}
.width-limit {
  max-width: 490px;
}
.button-green {
  max-width: 176px;
  padding-top: 7px;
  padding-bottom: 9px;
  border-radius: 4px;
  border: solid 1.5px transparent;
  background: #00ad57;
  font-size: 14px;
  line-height: 20px;
  color: white;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-align: center;
}
.button-green:hover {
  background: transparent;
  color: #00ad57;
  cursor: pointer;
  border: solid 1.5px #00ad57;
}
.drafts .button-green {
  font-size: 14px;
  max-width: 170px;
  padding: 5px 10px;
}
.buttonless-green {
  background: none;
  border: none;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 2.3px;
  color: #00ad57;
}
.buttonless-green:hover {
  color: #00ad56c7;
}
.products {
  color: white;
}
.products .description {
  font-size: 19px;
  line-height: 1.33;
  letter-spacing: 0.3px;
}
.products .card {
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 10px;
  height: 95%;
}
.products .card:hover {
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.3);
}
.products .card .under {
  height: 56px;
  width: 80%;
}
.products h3 {
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #00134d;
}
.products .solutions {
  font-weight: 200;
  line-height: 1.21;
  letter-spacing: -0.4px;
}
.products .description {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.3px;
  max-width: 500px;
}
.join .text-purple {
  font-size: 40px;
  font-weight: 300;
}
.join .button-green {
  max-width: 80%;
  padding: 7px 0;
  margin-bottom: 1em;
  text-align: center;
}
.join .button-green.bg-green {
  background: #00ad57;
  color: white;
}
.join .button-green.bg-green:hover {
  background: transparent;
  color: #00ad57;
}
.offers .muted {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 0.3px;
  color: rgba(0, 19, 77, 0.5);
}
.offers ul {
  list-style-type: none;
}
.bg-sky {
  background-color: #4877ff;
}
.bg-blue {
  background-color: #009ccc;
}
.partners img {
  max-width: 100%;
  height: auto;
}
.app-form input[type="text"],
.app-form input[type="url"],
.app-form input[type="email"],
.app-form input[type="password"] {
  background: transparent;
  border-color: #00134d9a;
}
.text-figure {
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
}
.connect a {
  color: #00ad57;
}
.partners-imgs {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  border-radius: 50%;
}

@media (max-width: 1700px) {
  .main-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
  }
}
@media (max-width: 1250px) {
  .products .card .under {
    height: 56px;
    width: 100%;
  }
}
@media (max-width: 1065px) {
  .products .card .under {
    height: 84px;
    width: 100%;
  }
}
@media (max-width: 992px) {
  .products .card .under {
    height: 56px;
    width: 80%;
  }
  .main-img {
    width: 100vw;
    background-position: center top;
    max-height: calc(100vh - 450px);
    background-size: contain;
    background-position: center top;
    min-height: 300px;
    width: 100vw;
  }
  .pics-resp {
    height: 776px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 3em !important;
    font-weight: 300;
    font-size: 48px;
  }
  h2 {
    font-size: 2.5em !important;
    font-weight: 400;
    font-size: 40px;
  }
  h3 {
    font-size: 32px !important;
    font-weight: 300 !important;
  }
  h4 {
    font-size: 2.25em !important;
    font-size: 24px !important;
    line-height: 38px;
  }
  h5 {
    font-size: 28px;
    line-height: 1.429em;
    font-weight: 600;
  }
  .text-main-header {
    line-height: 48px;
  }
  .benefit-h1 {
    font-size: 48px !important;
    font-weight: 300;
  }
  .ecosystem h2 {
    font-size: 40px;
    font-weight: 400;
  }
  .products .card .under {
    width: 100%;
  }
  .p-128 {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .pt-128 {
    padding-top: 64px;
  }
  .pb-128 {
    padding-bottom: 64px;
  }
  .pics-resp {
    height: 100vw;
    width: 100%;
  }
}
@media (max-width: 666px) {
  .products .card .under {
    height: 84px;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .products .card .under {
    height: 56px;
  }
  .main-img {
    background-position: center top;
    max-height: calc(100vh);
    background-size: contain;
    background-position: center top;
    height: 100vw;
  }
}
@media (max-width: 500px) {
  .products .card .under {
    height: auto;
    padding-bottom: 1rem;
  }
  .products .card .under {
    height: auto;
    padding-bottom: 0.3rem !important;
  }
}
@media (min-width: 768px) {
  .offers ul {
    margin-left: -15px;
    margin-bottom: 0;
    padding-left: 0;
  }
  .benefit-h1 {
    font-size: 68px;
  }
  .products .solutions {
    font-size: 68px;
  }
  .products .description {
    font-size: 36px;
    line-height: 1.44;
    letter-spacing: 0.3px;
  }
}
@media (min-width: 576px) {
  .main-h1 {
    font-size: 60px;
  }
}
@media (min-width: 400px) {
  .main-h1 {
    font-size: 55px;
  }
}
